DATABASE_URL='postgresql://username:password@host:port/database_name'
JWT_SECRET='your-jwt-secret-key'
BREVO_API_KEY='your-brevo-api-key'
BREVO_SENDER_EMAIL='your-email@example.com'
BREVO_SENDER_NAME='your-app-name-support'
NEXT_PUBLIC_APP_URL='https://your-app-url.com/'
GEMINI_API_KEY='your-gemini-api-key'
GEMINI_MODEL='gemini-2.5-flash'